<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div><form action="/investor/add"><button type="submit">Додати проект</button></form></div><br>
    <div><form action="/investor/read"><button type="submit">Переглянути проекти</button></form></div><br>
    <div><form action="/investor/update"><button type="submit">Оновити проект</button></form></div><br>
    <div><form action="/investor/delete"><button type="submit">Видалити проект</button></form></div><br>
</body>
</html>